---
layout: default
---

{%- if site.under_construction -%}
<p class="warning">
This site is under construction. All dates and policies are tentative until this message goes away.
</p>
{%- endif -%}

{%- if site.outdated -%}
<p class="warning">
This website contains materials from a past semester. Information, assignments, and announcements may no longer be relevant. Please refer to the <a href="{{ site.latest_sem }}">current semester's site</a> for up-to-date content.
</p>
{%- endif -%}

{{ content }}